body {
  background-color: #55B4BF;
  color: white;
}

.farm-info {
  background-color: #89C77B;
  border-style: double;
  border-width: thick;
  padding: 10px;
  border-color: #55B4BF;
  display:none;
}

.jumbotron {
  text-align: center;
  color: white;
  background-color: #89C77B;
}

img {
  max-width: 100%;
}

.forms {
  padding-bottom: 15px;
}

.col-md-8 {
  float: right;
}

#awcc1469496160736 {
  width: 350px;
  height: 250px;
}

#weather {
  float: right;
}

#head {
  width: 1000px;
  height: 500px;
}

#map {
  float: right;
  height: 200px;
  width: 500px;
}
