body {
  background-color: #55B4BF;
  color: white;
}

.farm-info {
  background-color: #89C77B;
  border-style: double;
  border-width: thick;
  padding: 10px;
  border-color: #55B4BF;
  display:none;
}

.jumbotron {
  text-align: center;
  color: white;
  background-color: #89C77B;
}

img {
  max-width: 100%;
}

#searchable {
  padding-bottom: 15px;
}
